{% extends 'base.html.twig' %}

{% block title %}Cibles{% endblock %}

{% block content %}
    <h1>Cibles</h1>
<a class="btn btn-primary" href="{{ path('app_targets_new') }}">Nouvelle cible</a>
   <div class="missionsSection" id="missionsSection">
    {% for target in targets %}
        <div class="form-container">
            <div class="card-header">
            <img src="{{ asset('uploads/avatars/target.png') }}">
                <h5 class="card-title text-center">{{ target.firstName }} {{ target.lastName }}</h5>
            </div>
            <hr>
            <div class="card-body mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>FirstName :</strong> {{ target.firstName }}</p>
                        <p class="card-text"><strong>LastName :</strong> {{ target.lastName }}</p>
                        <p class="card-text"><strong>DateOfBirth :</strong> {{ target.dateOfBirth ? target.dateOfBirth|date('Y-m-d') : '' }}</p>
                        <p class="card-text"><strong>CodeName :</strong> {{ target.codeName }}</p>
                    </div>
                    <div class="col-md-6">
                    <p class="card-text"><strong>Nationality :</strong> {{ target.nationality }}</p>
                    </div>
                </div>
            </div>
            <hr>
				<div class="card-footer d-flex align-items-center justify-content-center m-3">
					<a class="btn btn-secondary custom-button m-2 d-flex align-items-center justify-content-center" href="{{ path('app_targets_edit', {'id': target.id}) }}">Éditer</a>
					{{ include('targets/_delete_form.html.twig') }}
				</div>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Aucune donnée n'a été trouvée.
        </div>
    {% endfor %}
</div>
{% endblock %}
