{% extends 'base.html.twig' %}

{% block title %}Agents
{% endblock %}

{% block content %}
<br>
	<a class="btn btn-primary custom-button-new m-2 d-flex align-items-center justify-content-center" href="{{ path('app_agents_new') }}">Nouvel agent</a>
	<div class="missionsSection" id="missionsSection">
		{% for agents in agents %}
			<div class="form-container">
				<div class="card-header">
					{% if agents.illustration is not null %}
						<img src="{{ asset('uploads/avatars/' ~ agents.illustration) }}">
					{% endif %}
					<h5 class="card-title text-center">{{ agents.firstName }}
						{{ agents.lastName }}</h5>
				</div>
				<hr>
				<div class="card-body mt-3">
					<div class="row">
						<div class="col-md-6">
							<p class="card-text">
								<strong>Prénom :</strong>
								{{ agents.firstName }}</p>
							<p class="card-text">
								<strong>Nom :</strong>
								{{ agents.lastName }}</p>
							<p class="card-text">
								<strong>Date de naissance :</strong>
								{{ agents.dateOfBirth ? agents.dateOfBirth|date('d M Y') : '' }}</p>
							<p class="card-text">
								<strong>Nom de code :</strong>
								{{ agents.identificationCode }}</p>
							<p class="card-text">
								<strong>Nationalité :</strong>
								{{ agents.nationality }}</p>
						</div>
						<div class="col-md-6">
							<p class="card-text">
							<strong>Spécialité requise :</strong>
								{% for speciality in agents.specialties %}
									{{ speciality.Name }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
							
						</div>
					</div>
				</div>
				<hr>
				<div class="card-footer d-flex align-items-center justify-content-center m-3">
					<a class="btn btn-secondary custom-button m-2 d-flex align-items-center justify-content-center" href="{{ path('app_agents_edit', {'id': agents.id}) }}">Éditer</a>
					{{ include('agents/_delete_form.html.twig') }}
				</div>
			</div>
		{% else %}
			<div class="alert alert-info" role="alert">
				Aucune donnée n'a été trouvée.
			</div>
		{% endfor %}
	</div>
{% endblock %}
