{% extends 'base.html.twig' %}

{% block title %}Agents{% endblock %}

{% block content %}
    <h1>Agents</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agent.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ agent.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ agent.lastName }}</td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td>{{ agent.dateOfBirth ? agent.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IdentificationCode</th>
                <td>{{ agent.identificationCode }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ agent.nationality }}</td>
            </tr>
            <tr>
                <th>Specialties</th>
                <td>{{ agent.specialties }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agents_index') }}">Retour</a>

    <a href="{{ path('app_agents_edit', {'id': agent.id}) }}">Editer</a>

{% endblock %}
