{% extends 'base.html.twig' %}

{% block title %}Missions
{% endblock %}

{% block content %}
	<h1>Missions</h1>
	<a class="btn btn-primary" href="{{ path('app_missions_creat_new') }}">Nouvelle mission</a>
	<div class="missionsSection" id="missionsSection">
		{% for mission in missions %}
			<div class="form-container">
				<div class="card-header">
				<img src="{{ asset('uploads/avatars/flag.png') }}">
					<h5 class="card-title text-center">{{ mission.title }}</h5>
				</div>
				<hr>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<p class="card-text">
								<strong>Description :</strong>
								{{ mission.description }}</p>
							<p class="card-text">
								<strong>Nom de code :</strong>
								{{ mission.codeName }}</p>
							<p class="card-text">
								<strong>Pays :</strong>
								{{ mission.country }}</p>
							<p class="card-text">
								<strong>Début :</strong>
								{{ mission.startDate ? mission.startDate|date('D-m-y') : '' }}</p>
							<p class="card-text">
								<strong>Fin :</strong>
								{{ mission.endDate ? mission.endDate|date('D-m-y') : '' }}</p>
						</div>
						<div class="col-md-6">
							<p class="card-text">
								<strong>Agents :</strong>
								{% for agent in mission.agents %}
									{{ agent.firstName }}
									{{ agent.lastName }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
							<p class="card-text">
								<strong>Contacts :</strong>
								{% for contact in mission.contacts %}
									{{ contact.firstName }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
							<p class="card-text">
								<strong>Cible :</strong>
								{% for target in mission.targets %}
									{{ target.firstName }}
									{{ target.lastName }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
							<p class="card-text ">
								<strong>Spécialité requise :</strong>
								{{ mission.requiredSpeciality }}</p>
							<p class="card-text
								{% if mission.statut == 'En attente' %}statut-pending
								{% elseif mission.statut == 'En cours' %} statut-in-progress
								{% elseif mission.statut == 'Terminée' %} statut-completed
								{% elseif mission.statut == 'Annulée' %} statut-deleted
								{% endif %}">
								<strong>Statut : </strong>{{ mission.statut }}</p>
						</div>
					</div>
				</div>
				<hr>
				<div class="card-footer d-flex align-items-center justify-content-center m-3">
					<a class="btn btn-secondary custom-button m-2 d-flex align-items-center justify-content-center" href="{{ path('app_missions_edit', {'id': mission.id}) }}">Éditer</a>
					{{ include('missions/_delete_form.html.twig') }}
				</div>
			</div>
		{% else %}
			<div class="alert alert-info" role="alert">
				Aucune donnée n'a été trouvée.
			</div>
		{% endfor %}
	</div>
	<div class="missionsSection" id="missionsSection"></div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/missions.js') }}"></script>
{% endblock %}
