{% extends 'base.html.twig' %}

{% block title %}Contacts
{% endblock %}

{% block content %}
	<h1>Contacts</h1>

	<div class="missionsSection" id="missionsSection">
		{% for contact in contacts %}
			<div class="form-container">
				<div class="card-header">
					<h5 class="card-title text-center">{{ contact.firstName }}
						{{ contact.lastName }}</h5>
				</div>
				<div class="card-body mt-3">
					<div class="row">
						<div class="col-md-6">
							<p class="card-text">
								<strong>Prénom :</strong>
								{{ contact.firstName }}</p>
							<p class="card-text">
								<strong>Nom :</strong>
								{{ contact.lastName }}</p>
							<p class="card-text">
								<strong>Date de naissance :</strong>
								{{ contact.dateOfBirth ? contact.dateOfBirth|date('y-m-d') : '' }}</p>
							<p class="card-text">
								<strong>Nom de code :</strong>
								{{ contact.codeName }}</p>
						</div>
												<div class="col-md-6">
							<p class="card-text">
								<strong>Nationalité :</strong>
								{{ contact.nationality }}</p>
						</div>
					</div>
				</div>
				<div class="card-footer d-flex justify-content-center m-3">
					<a class="btn btn-primary m-2" href="{{ path('app_contacts_show', {'id': contact.id}) }}">Voir</a>
					<a class="btn btn-secondary m-2" href="{{ path('app_contacts_edit', {'id': contact.id}) }}">Éditer</a>
				</div>
			</div>
		{% else %}
			<div class="alert alert-info" role="alert">
				Aucune donnée n'a été trouvée.
			</div>
		{% endfor %}
	</div>

	<a class="btn btn-primary" href="{{ path('app_contacts_new') }}">Nouveau contact</a>

{% endblock %}
