{% extends 'base.html.twig' %}

{% block title %}Contacts
{% endblock %}

{% block content %}
	<h1>Contacts</h1>
<a class="btn btn-primary" href="{{ path('app_contacts_new') }}">Nouveau contact</a>
	<div class="missionsSection" id="missionsSection">
		{% for contact in contacts %}
			<div class="form-container">
				<div class="card-header">
						<img src="{{ asset('uploads/avatars/customer-service.png') }}">
					<h5 class="card-title text-center">{{ contact.firstName }}
						{{ contact.lastName }}</h5>
				</div>
				<hr>
				<div class="card-body mt-3">
					<div class="row">
						<div class="col-md-6">
							<p class="card-text">
								<strong>Prénom :</strong>
								{{ contact.firstName }}</p>
							<p class="card-text">
								<strong>Nom :</strong>
								{{ contact.lastName }}</p>
							<p class="card-text">
								<strong>Date de naissance :</strong>
								{{ contact.dateOfBirth ? contact.dateOfBirth|date('y-m-d') : '' }}</p>
							<p class="card-text">
								<strong>Nom de code :</strong>
								{{ contact.codeName }}</p>
						</div>
												<div class="col-md-6">
							<p class="card-text">
								<strong>Nationalité :</strong>
								{{ contact.nationality }}</p>
						</div>
					</div>
				</div>
				<hr>
				<div class="card-footer d-flex align-items-center justify-content-center m-3">
					<a class="btn btn-secondary custom-button m-2 d-flex align-items-center justify-content-center" href="{{ path('app_contacts_edit', {'id': contact.id}) }}">Éditer</a>
					{{ include('contacts/_delete_form.html.twig') }}
				</div>
			</div>
		{% else %}
			<div class="alert alert-info" role="alert">
				Aucune donnée n'a été trouvée.
			</div>
		{% endfor %}
	</div>
{% endblock %}
